/* src/components/navigation/navigation.css */

/* ****************************************************************** */
/* Styling for the header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: #161616;
  height: 62px;
  color: white;
  z-index: 1000;
}

.header-left {
  display: flex;
  align-items: center;
}

.cinema-guru {
  font-size: 20px;
  font-weight: bold;
}

.header-right {
  display: flex;
  align-items: center;
}

.header img {
  border-radius: 50%;
  height: 41px;
  width: 41px;
}

.header p {
  margin: 0;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}

.header .logout {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: red;
}

/* ****************************************************************** */
/* Styles for the sidebar */
.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
    position: relative;
  }
  
  .sidebar.small {
    width: 50px;
  }

  .sidebar ul {
    font-size: 16px;
  }

  /* ****************************************************************** */
  .navigation {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navigation li {
    padding: 10px;
    cursor: pointer;
  }
  
  .navigation li.active {
    background-color: #E31C25;
  }

  ul.navigation {
    font-size: 16px;
  }

/* ****************************************************************** */
  .activities {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
  }
  
  .activities li {
    padding: 10px;
  }