/* src/routes/dashboard/dashboard.css */

/* ****************************************************************** */
.dashboard-container {
    padding: 20px;
    background-color: #333;
    color: white;
  }

/* ****************************************************************** */

/* ****************************************************************** */
